<h1>Text</h1>
{{ section.settings.liquid_ref }}
<br/>

<h1>Checkbox</h1>
{% if section.settings.liquid-checkbox == true %}
Checkbox is checked
{% else %}
Checkbox is not checked
{% endif %}
<br/>

<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
    {{section.settings.liquid-number}}
{% endif %}
<br/>

<h1>Radio</h1>
{% if section.settings.liquid-radio == "option-1" %}
 Option 1 is selected
{% else %}
    Option 2 is selected
{% endif %} 
<br/>
 
<h1>Range</h1>
{{ section.settings.liquid-range }}


<h1>Select</h1> 
{{ section.settings.liquid-select }}

<h1>Text Area</h1>
{{section.settings.liquid-textarea}}



{% schema %}
{
    "name":"Liquid Reference",
     "settings": [
     {
        "id": "liquid_ref",
        "type": "text",
        "label": "A Reference for Shopify Liquid"
    },
    {
        "id": "liquid-checkbox",
        "type": "checkbox",
        "label": "A checkbox in liquid"
    },
    {
        "id": "liquid-number",
        "type": "number",
        "label": "Add a Number"
    },
    {
        "id": "liquid-radio",
        "type": "radio",
        "label": "Add a radio button",
        "options": [
            {
                "label": "Option 1",
                "value": "option-1"
            },
            {
                "label": "Option 2",
                "value": "option-2"
            }
            
        ]
    },
    {
        "id":"liquid-range",
        "type": "range",
        "min": 1,
        "max": 12,
        "step":1,
        "label": "Range",
        "default":3
    },
    {

        "id":"liquid-select",
        "type": "select",
        "label": "Select",
        "options": [
            {
                "label": "Option 1",
                "value": "option-1"
            },
            {
                "label": "Option 2",
                "value": "option-2"
            },
            {
                "label": "Option 3",
                "value": "option-3"
            }
        ],
        "default": "option-2"
    },
    {
        "id":"liquid-textarea",
        "type": "textarea",
        "label": "Text Area",
        "default": "This is a text area"
    }

     ],
     "presets":[
     { 
         "name": "Liquid Reference",
         "category": "Reference"
     }
     ]
     
}
{% endschema %}